@model Bai01.Models.THELOAITIN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Thể loại tin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDLOAI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDLOAI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TENTHELOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTHELOAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDLOAI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
