@model  List<Bai01.Models.THELOAITIN>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <p>
        @Html.ActionLink("Thêm thể loại mới", "ThemMoi")
    </p>
    <table>
        <tr>
            <th>
                Tên Thể Loại
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.TENTHELOAI)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDLOAI }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IDLOAI }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDLOAI })
                </td>
            </tr>
        }

    </table>

</main>