@model Bai3_LTWeb.Models.tbl_Employee

@{
    ViewBag.Title = "ChitietNV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT NHÂN VIÊN</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã NV
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            <img src="@Url.Content("~/Photo/" + Model.Photo)" width="120" />
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            Tỉnh / Thành phố
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Mã phòng ban
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepId)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "SuaNhanVien", new { id = Model.Id }) |
    @Html.ActionLink("Trở về", "DSNhanVien")
</p>
