@model IEnumerable<Bai3_LTWeb.Models.NV_PBViewModel>

@{
    ViewBag.Title = "DSNhanVienPhongBan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">BẢNG EMPLOYEE - DEPARTMENT</h2>

<table class="table">
    <tr>
        <th>
            Mã NV
        </th>
        <th>
            Họ và tên
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Tỉnh / Thành phố
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Mã PB
        </th>
        <th>
            Tên PB
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            <img src="@Url.Content("~/Photo/" + item.Photo)" width="60" height="80" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepName)
        </td>
    </tr>
}

</table>
