@model IEnumerable<Bai3_LTWeb.Models.tbl_Employee>

@{
    ViewBag.Title = "ShowEmplParameter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">DANH SÁCH NHÂN VIÊN</h2>

<table class="table">
    <tr>
        <th>
            Mã NV
        </th>
        <th>
            Họ và tên
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Tỉnh / Thành phố
        </th>
        <th>
            Ảnh
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <img src="@Url.Content("~/Photo/" + item.Photo)" width="60" height="80" />
            </td>
            <td>
                @Html.ActionLink("Sửa", "SuaNhanVien", new { id = item.Id }) |
                @Html.ActionLink("Chi tiết", "ChiTietNV", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "XoaNhanVien", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Trở về", "SideBarDept")
</div>
