@model Bai3_LTWeb.Models.tbl_Employee

@{
    ViewBag.Title = "XoaNhanVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN NHÂN VIÊN CẦN XÓA</h2>

<h3>Bạn quyết định xóa nhân viên này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã NV
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            <img src="@Url.Content("~/Photo/" + Model.Photo)" width="120" />
        </dd>

        <dt>
            Thành phố
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Mã phòng ban
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepId)
        </dd>



    </dl>

    @using (Html.BeginForm("XoaNhanVien", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về", "DSNhanVien")
        </div>
    }
</div>
